@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 19, 21, 23;
    --background-end-rgb: 19, 21, 23;
  }
}

@font-face {
  font-family: JostBlack;
  src: url("../public/fonts/Jost-VariableFont_wght.ttf");
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.rs-picker-toggle-label:after {
  content: none;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

#navTitle {
  font-family: JostBlack;
  font-weight: 600;
  letter-spacing: 0.1rem;
  font-size: 1.3rem;
}
